# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment Variables
.env

# Streamlit
.streamlit/

# VS Code
.vscode/

# Python Distribution
build/
dist/
*.egg-info/

# OS Files
.DS_Store
Thumbs.db